aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyio
async-timeout
attrs
cachetools
certifi
charset-normalizer
click
colorama ; platform_system== "Windows"
distro
exceptiongroup
frozenlist
gitdb
gitpython
google-ai-generativelanguage
google-api-core
google-api-core[grpc]
google-api-python-client
google-auth-httplib2
google-auth
google-generativeai
googleapis-common-protos
grpcio-status
grpcio
h11
httpcore
httplib2
httpx
idna
jiter
multidict
openai
propcache
proto-plus
protobuf
pyasn1-modules
pyasn1
pydantic-core
pydantic-extra-types
pydantic-settings
pydantic
pyparsing
python-dotenv
pyyaml
regex
requests
rsa
smmap
sniffio
structlog
tenacity
tiktoken
tomli
tqdm
typing-extensions
uritemplate
urllib3
yarl